body {
    background-color: #21212b;
    color: white;
    font-family: Helvetica, sans-serif;
    font-size: 17px;
    padding: 30px;
}

button {
    cursor: pointer;
    font-size: 14px;
    padding: 8px;
    margin-right: 10px;

    &:hover {
        background-color: aquamarine;
    }
}
